.contenedor-home {
    width: auto;
    padding: 20px;
    background-color: #ffffffe6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.titulo {
    color: #344D67;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
}

a {
    color: #6ECCAF;
    text-decoration: none;
}